<p>
  <strong>Numero:</strong>
  <%= @truck.numero %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @truck.titular %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
